<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">

    <title>Popug Jira - Tasks</title>
</head>

<body>
    <div class="container-md">
        <div class="row">
            <div class="col-12">
                <h1>Popug JIRA</h1>
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                <a class="btn btn-success" href="/tasks/add" role="button">Add task</a>
                Click this only if you are admin or manager:
                <a class="btn btn-warning" href="/tasks/reassign" role="button">Assign all tasks</a>
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                <table class="table">
                    <thead>
                        <tr>
                            <th scope="col" width="380px">#</th>
                            <th scope="col">Name</th>
                            <th scope="col">Description</th>
                            <th scope="col">Status</th>
                            <th scope="col">Actions</th>
                        </tr>
                    </thead>
                    <tbody>
                        {{#each tasks}}
                        <tr>
                            <th scope="row">{{this.publicId}}</th>
                            <td>{{this.title}}</td>
                            <td>{{this.description}}</td>
                            <td>{{#unless this.isCompleted}}Pending{{else}}Completed{{/unless}}</td>
                            <td>
                                {{#unless this.isCompleted}}
                                <a class="btn btn-primary" href="/tasks/complete/{{this.id}}" role="button">Complete</a>
                                {{/unless}}
                            </td>
                        </tr>
                        {{/each}}
                    </tbody>
                </table>
            </div>
        </div>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
        crossorigin="anonymous"></script>
</body>

</html>